# Python
.venv/
__pycache__/
*.pyc

# Database
db.sqlite3
*.sqlite3

# Environment Variables
.env
.env.*

# Node
node_modules/
client/node_modules/
server/node_modules/

# Build Files
dist/
client/dist/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db